* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: "MyCalibri";
}

@font-face {
  font-family: "MyCalibri";
  src: url("../assets/fonts/Calibri.ttf") format("truetype");
  font-weight: 400;
}